USE FACETS_Custom
GO

/*
    100 claim execution calls.
    Claims 001-005: Member match rejection (5)
    Claims 006-010: Provider selection rejection (5)
    Claims 011-015: Service date validation rejection (5)
    Claims 016-020: Tax ID validation rejection (5)
    Claims 021-100: Accepted and ready for FACETS (80)

    Each loop iteration executes USP_CLM_LOAD_STG_DATA once.
*/
DECLARE @ClaimNo int = 1;
DECLARE @MemberSlot int;
DECLARE @ProviderSlot int;
DECLARE @LineCount int;
DECLARE @BaseDate date;
DECLARE @FirstName varchar(30);
DECLARE @LastName varchar(30);
DECLARE @Gender char(1);
DECLARE @BirthDate date;
DECLARE @MemberId varchar(10);
DECLARE @ProviderNpi varchar(20);
DECLARE @ProviderTax varchar(20);
DECLARE @ProviderState char(2);
DECLARE @ToDate date;
DECLARE @ClaimType char(1);
DECLARE @LineData STG_CMC_CDML_TYPE;
DECLARE @ClprData STG_CMC_CLPR_TYPE;

DECLARE @Members table
(
    MemberId varchar(10),
    FirstName varchar(30),
    LastName varchar(30),
    Gender char(1),
    BirthDate date
);


WHILE @ClaimNo <= 100
BEGIN
    SET @MemberSlot = ((@ClaimNo - 1) % 10) + 1;
    SET @ProviderSlot = ((@ClaimNo - 1) % 4) + 1;
    SET @LineCount = ((@ClaimNo - 1) % 3) + 1;
    SET @BaseDate = DATEADD(day, @ClaimNo - 1, CAST('2025-01-01' AS date));

    SELECT
        @MemberId = MemberId,
        @FirstName = FirstName,
        @LastName = LastName,
        @Gender = Gender,
        @BirthDate = BirthDate
    FROM @Members
    WHERE MemberId = CAST(@MemberSlot AS varchar(10))
       OR MemberId = (SELECT MemberId FROM (SELECT MemberId, ROW_NUMBER() OVER (ORDER BY MemberId) AS RowNum FROM @Members) AS NumberedMembers WHERE RowNum = @MemberSlot);

    SET @ProviderNpi = CASE @ProviderSlot
        WHEN 1 THEN '295847284'
        WHEN 2 THEN '245797967'
        WHEN 3 THEN '509647174'
        ELSE '112457891'
    END;
    SET @ProviderTax = CASE @ProviderSlot
        WHEN 1 THEN 'WA0826F012'
        WHEN 2 THEN 'WA082645E8'
        WHEN 3 THEN 'WA08269BBB'
        ELSE 'MN08265974'
    END;
    SET @ProviderState = CASE @ProviderSlot
        WHEN 4 THEN 'MN'
        ELSE 'WA'
    END;

    /* Change exactly one input for each negative test category. */
    IF @ClaimNo BETWEEN 1 AND 5
        SET @MemberId = '999999999';
    ELSE IF @ClaimNo BETWEEN 6 AND 10
        SET @ProviderNpi = '999999999';
    ELSE IF @ClaimNo BETWEEN 11 AND 15
        SET @BaseDate = '2040-01-01';
    ELSE IF @ClaimNo BETWEEN 16 AND 20
        SET @ProviderTax = 'INVALIDTAX';

    SET @ToDate = DATEADD(day, 2, @BaseDate);
    IF @ClaimNo BETWEEN 11 AND 15
        SET @ToDate = DATEADD(day, -1, @BaseDate);

    DELETE FROM @LineData;
    DELETE FROM @ClprData;

    INSERT INTO @LineData (CDML_CHG_AMT, CDML_FROM_DT, CDML_TO_DT, DIAG_CD, PROC_CD)
    VALUES
        (CAST(125.00 + (@ClaimNo * 7.25) AS decimal(10, 2)), @BaseDate, @ToDate, 'P130', 'G1018');

    IF @LineCount >= 2
        INSERT INTO @LineData (CDML_CHG_AMT, CDML_FROM_DT, CDML_TO_DT, DIAG_CD, PROC_CD)
        VALUES (CAST(80.00 + (@ClaimNo * 3.10) AS decimal(10, 2)), DATEADD(day, 1, @BaseDate), DATEADD(day, 4, @BaseDate), 'D01', 'G1001');

    IF @LineCount = 3
        INSERT INTO @LineData (CDML_CHG_AMT, CDML_FROM_DT, CDML_TO_DT, DIAG_CD, PROC_CD)
        VALUES (CAST(210.00 + (@ClaimNo * 4.40) AS decimal(10, 2)), DATEADD(day, 2, @BaseDate), DATEADD(day, 6, @BaseDate), 'H551', 'HP031');

    SET @ClaimType = CASE WHEN @LineCount = 1 THEN 'H' ELSE 'M' END;

    INSERT INTO @ClprData (CLPR_TYPE, CLPR_TAX, CLPR_NPI, CLPR_STATE)
    VALUES ('85', @ProviderTax, @ProviderNpi, @ProviderState);

    EXEC [dbo].[USP_CLM_LOAD_STG_DATA]
        @ClaimType,
        'I',
        @MemberId,
        @FirstName,
        @LastName,
        @Gender,
        @BirthDate,
        @LINE_DATA = @LineData,
        @CLPR_DATA = @ClprData;

    SET @ClaimNo = @ClaimNo + 1;
END;
GO

/* ABOVE STEP WILL INSERT 100 CLAIMS INTO STG DATABASE */

SELECT * FROM FACETS_STG..STG_CMC_CLCL WHERE CLCL_CUR_STS = '16'
SELECT * FROM FACETS_STG..STG_CMC_CDML
SELECT * FROM FACETS_STG..STG_CMC_CLPR
SELECT * FROM FACETS_STG..STG_CMC_MEME

-- PERFORM VALIDATIONS IN STG DATABASE
EXEC [dbo].[USP_CLM_MBR_MTCH]
EXEC [dbo].[USP_CLM_PRVDR_MTCH]
EXEC [dbo].[USP_CLM_SVCDT_VAL]
EXEC [dbo].[USP_CLM_TAXID_VAL]


SELECT * FROM FACETS.[dbo].[CMC_PRPR]

UPDATE FACETS.[dbo].[CMC_PRPR]
SET
MCTN_ID = REPLACE(MCTN_ID,' ','')